* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
}

body {
  padding: 20px 10px;
}

h1 {
  font-size: 10vw;
  text-align: center;
  font-weight: bolder;
  text-decoration: .4vw underline dashed;
  text-underline-offset: 1vw;
}

#catalogue {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  margin-top: 20px;
}

figure {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

figure img{
  width: 100%;
}

figcaption {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF8C;
  color: #000000;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px #5C5C5C;
  transition: top 1s ease-in-out;
}

figure:hover figcaption {
  top: 0;
}