body{
  background-color: #272822;
  color: #f5f5f5;
  font-family: monospace;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}